@use '@bcgov-nr/nr-theme/design-tokens/variables.scss' as vars;
@use '@bcgov-nr/nr-theme/design-tokens/colors.scss' as colors;
@use '@carbon/type';

.search-filter-bar {
    background-color: var(--#{vars.$bcgov-prefix}-layer-02);
    position: relative;
    padding: 11px 16px;
}

.clear-button-container{
    min-width: 110px;
    .clear-filters-button{
        padding: 4px 13px;
        cursor: pointer;
        color: var(--bx-link-primary);
    }
}

