@use '@bcgov-nr/nr-theme/design-tokens/variables.scss' as vars;
@use '@bcgov-nr/nr-theme/design-tokens/colors.scss' as colors;
@use '@carbon/type';

.advanced-search-dropdown {
  background-color: var(--#{vars.$bcgov-prefix}-layer-02);  
  //width: 65.66%;
  //these are for the nested elements
  .advanced-search-container{
      box-shadow: 0px 2px 6px 0px #0000004D;
  }
  input{
      background-color: var(--bx-field-01);
      border-bottom: 1px solid var(--bx-border-strong-01);
  }
  .multi-select .bx--list-box__field--wrapper{
      background-color: var(--bx-field-01);
      border-bottom: 1px solid var(--bx-border-strong-01);
  }
}