@use '@carbon/type';
@use '@bcgov-nr/nr-theme/design-tokens/variables.scss' as vars;

.opening-standard-units-history-modal {
  padding: 1rem;
}

.opening-standard-units-grid {
  padding: 0;
  row-gap: 1.5rem;

  .opening-standard-units-header-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;

    .opening-standard-units-header-title-container {
      display: flex;
      flex-direction: column;
      gap: 10px;
    }

    .opening-standard-unit-header-dropdown-container {
      width: 20%;

      .bx--dropdown,
      .bx--list-box__menu {
        background: var(--#{vars.$bcgov-prefix}-layer-02);
      }
    }
  }


  .accordion-col {

    .#{vars.$bcgov-prefix}--accordion__content {
      padding-inline: 3.25rem 2rem;
    }

    .fsp-link {
      display: flex;
      flex-direction: row;
      column-gap: 0.25rem;
      align-items: center;
    }

    .standard-unit-content-grid {
      width: 100%;
      row-gap: 2rem;

      .standard-unit-content-subgrid {
        row-gap: 1.5rem;

        .comment-list {
          list-style-type: disc;
          padding-left: 1.75rem;
          margin-top: 0.25rem;
          display: flex;
          flex-direction: column;
          row-gap: 0.25rem;
        }

        .standard-unit-bec-content-grid {
          row-gap: 1rem;
        }
      }

      .section-title-with-icon {
        display: flex;
        flex-direction: row;
        align-items: center;
        column-gap: 0.5rem;

        h4 {
          @include type.type-style('heading-02');
        }
      }

      .section-title-without-icon {
        h4 {
          @include type.type-style('heading-02');
        }
      }

      .species-table-container {

        .species-table-cell {
          padding: 1rem;
          vertical-align: top;

          .verticle-cell-items {
            display: flex;
            flex-direction: column;
            row-gap: 0.5rem;
            white-space: nowrap;
          }
        }
      }

      .subsection-col {
        margin-left: 1.75rem;
      }

      .stocking-standard-links {
        display: flex;
        flex-direction: row;
        align-items: center;
        column-gap: 0.5rem;
        margin-top: 0.25rem;
      }
    }
  }
}
