{
  auto_https off
  admin off
}

:3000 {
  root * /srv

  encode gzip

  log {
    output stdout
    format console {
      time_format iso8601
      level_format color
    }
    level {$LOG_LEVEL}
  }

  header {
		X-Frame-Options "SAMEORIGIN"
		X-XSS-Protection "1;mode=block"
		Cache-Control "no-store, no-cache, must-revalidate, proxy-revalidate"
		X-Content-Type-Options "nosniff"
		Strict-Transport-Security "max-age=31536000"
		Content-Security-Policy "base-uri 'self'; connect-src 'self' https://*.gov.bc.ca https://*.amazoncognito.com https://cognito-idp.ca-central-1.amazonaws.com; default-src 'self'; font-src 'self'; frame-src 'self' https://*.gov.bc.ca; img-src 'self'; manifest-src 'self'; media-src 'self'; object-src 'none'; script-src 'unsafe-inline' 'report-sample' 'self' https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.7/dist/umd/popper.min.js https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.min.js; style-src 'report-sample' 'self' https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css; worker-src 'none';"
		Referrer-Policy "same-origin"
	}
  
  handle /env.js {
    header Content-Type "text/javascript"
    respond `window.config = {"REACT_APP_MAIN_VERSION":"v1.0.0","REACT_APP_COGNITO_REGION":"ca-central-1","REACT_APP_USER_POOLS_ID":"{$REACT_APP_USER_POOLS_ID}","REACT_APP_USER_POOLS_WEB_CLIENT_ID":"{$REACT_APP_USER_POOLS_WEB_CLIENT_ID}","REACT_APP_REDIRECT_SIGN_OUT":"{$REACT_APP_REDIRECT_SIGN_OUT}","REACT_APP_AWS_DOMAIN":"{$REACT_APP_AWS_DOMAIN}","REACT_APP_ZONE":"{$REACT_APP_ZONE}"};`
  }

  handle_path /* {
		try_files {path} {path}/ {file} /index.html
	}

  file_server
}

:3001 {
  handle /health {
    respond "OK"
  }
}
