@use '@bcgov-nr/nr-theme/design-tokens/colors.scss' as colors;
@use '@bcgov-nr/nr-theme/design-tokens/variables.scss' as vars;

.submission-trend-container {
  grid-template-rows: auto auto 1fr;

  .chart-holder {

    .cds--cc--axes g.axis g.tick text {
      fill: var(--#{vars.$bcgov-prefix}-text-secondary);
    }

    .cds--cc--grid rect.chart-grid-backdrop {
      fill: var(--#{vars.$bcgov-prefix}-layer-02);
    }

    .bars {
      cursor: pointer;
    }
  }

  .submission-trend-input-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    column-gap: 0.125rem;
    width: 100%;

    .#{vars.$bcgov-prefix}--list-box__wrapper {
      width: calc(100% / 3);
    }

    .#{vars.$bcgov-prefix}--multi-select__wrapper {
      width: calc(100% / 3);
    }
  }

  .trend-loading-col {
    place-items: center;

    .trend-loading-spinner {
      margin-top: 10%;
    }
  }


  @media only screen and (max-width: 671px) {
    .submission-trend-input-container {
      display: flex;
      flex-direction: column;
      row-gap: 1rem;
    }
  }
}
