@use '@bcgov-nr/nr-theme/design-tokens/colors.scss' as colors;
@use '@bcgov-nr/nr-theme/design-tokens/variables.scss' as vars;

.submission-trend-container {
  grid-template-rows: auto auto 1fr;

  .chart-holder {

    .cds--cc--axes g.axis g.tick text {
      fill: var(--#{vars.$bcgov-prefix}-text-secondary);
    }

    .cds--cc--grid rect.chart-grid-backdrop {
      fill: var(--#{vars.$bcgov-prefix}-layer-02);
    }

    .bars {
      cursor: pointer;

      path {
        fill: var(--#{vars.$bcgov-prefix}-interactive);
      }

      :hover {
        fill: var(--#{vars.$bcgov-prefix}-link-primary);
      }
    }
  }

  .submission-trend-input-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    column-gap: 0.125rem;
    width: 100%;

    .#{vars.$bcgov-prefix}--list-box__wrapper {
      width: calc(100% / 3);
    }

    .#{vars.$bcgov-prefix}--multi-select__wrapper {
      width: calc(100% / 3);
    }

    @media only screen and (max-width: 1311px) {
      .#{vars.$bcgov-prefix}--list-box__wrapper {
        width: 100%;
      }

      .#{vars.$bcgov-prefix}--multi-select__wrapper {
        width: 100%;
      }
    }

    .trend-year-selection-combobox {
      .#{vars.$bcgov-prefix}--list-box__selection {
        display: none;
      }
    }
  }

  .trend-loading-col {
    place-items: center;

    .trend-loading-spinner {
      margin-top: 10%;
    }

    .cds--cc--tooltip {
      background: var(--#{vars.$bcgov-prefix}-layer-02);
      border-left: 0.25rem solid var(--#{vars.$bcgov-prefix}-link-primary);

      .title-tooltip {
        padding: 0;
      }
    }
  }


  @media only screen and (max-width: 671px) {
    .submission-trend-input-container {
      display: flex;
      flex-direction: column;
      row-gap: 1rem;
    }
  }
}
