<settings>
  <profiles>
    <profile>
      <id>osgeo</id>
      <repositories>
        <repository>
          <id>osgeo</id>
          <name>OSGeo Release Repository</name>
          <url>https://repo.osgeo.org/repository/release/</url>
          <releases>
            <enabled>true</enabled>
            <includes>
              <include>org.geotools:*</include>
              <include>org.locationtech.jts:*</include>
              <include>org.apache.xml:*</include>
            </includes>
          </releases>
        </repository>
      </repositories>
    </profile>
  </profiles>
  <activeProfiles>
    <activeProfile>osgeo</activeProfile>
  </activeProfiles>
</settings>
