<settings>
  <profiles>
    <profile>
      <id>silva-external</id>
      <repositories>
        <repository>
          <id>osgeo</id>
          <name>OSGeo Release Repository</name>
          <url>https://repo.osgeo.org/repository/release/</url>
        </repository>
      </repositories>
    </profile>
  </profiles>
  <activeProfiles>
    <activeProfile>silva-external</activeProfile>
  </activeProfiles>
</settings>
