@use '@carbon/type';
@use '@bcgov-nr/nr-theme/design-tokens/variables.scss' as vars;

.default-grid {
  margin: 0;
  width: 100%;
  padding: 2rem;
  max-inline-size: none;
  row-gap: 2.5rem;
  column-gap: 2rem;
  flex-grow: 1;
  align-content: start;

  .#{vars.$bcgov-prefix}--css-grid-column {
    margin: 0;
  }

  // Stretches out of the left and right padding
  .full-width-col {
    margin: 0 -2rem;
  }

  // Make subgrid's column to take full width of the parent grid.
  .subgrid-full-width-col {
    margin: 0 -2.5rem;
  }

  // Make subgrid's column to take full width of the parent grid while ignoring row gap.
  .subgrid-full-width-no-row-gap-col {
    margin: 0 -2.5rem -1rem -2.5rem;
  }

  .#{vars.$bcgov-prefix}--subgrid {
    margin-inline: 0;
  }

  @media only screen and (max-width: 671px) {
    .full-width-col {
      margin: 0 -1.5rem;
    }

    .subgrid-full-width-col {
      margin: 0 -2rem;
    }

    .subgrid-full-width-no-row-gap-col {
      margin: 0 -2rem -1rem -2rem;
    }
  }
}

// Small
@media only screen and (max-width: 671px) {
  .default-grid {
    padding: 2rem 1rem;
    column-gap: 1rem;
  }
}

// md
@media only screen and (max-width: 1311px) {
  .default-grid {
    row-gap: 2rem;
  }
}

.default-zebra-table,
.default-zebra-table-with-border {
  &.#{vars.$bcgov-prefix}--data-table tbody {
    background: var(--#{vars.$bcgov-prefix}-layer-02);
  }

  &.#{vars.$bcgov-prefix}--data-table--zebra tbody tr:not(.#{vars.$bcgov-prefix}--parent-row):not(.#{vars.$bcgov-prefix}--data-table--selected):nth-child(even) {
    background-color: var(--#{vars.$bcgov-prefix}-layer-01);
  }

  &.#{vars.$bcgov-prefix}--data-table--zebra tbody tr:not(.#{vars.$bcgov-prefix}--parent-row):nth-child(even) td {
    border-block-end: 0;
  }

  &.#{vars.$bcgov-prefix}--data-table--zebra tbody tr:not(.#{vars.$bcgov-prefix}--parent-row):nth-child(even):hover {
    background: var(--#{vars.$bcgov-prefix}-layer-hover-01);
  }

  tbody tr>td {
    @include type.type-style('body-compact-01');
    color: var(--#{vars.$bcgov-prefix}-text-primary);
  }
}

.default-zebra-table-with-border {
  border-radius: 0.25rem;
  border: 1px solid var(--#{vars.$bcgov-prefix}-border-subtle-00);
}

.silva-toast {
  position: fixed;
  top: 64px;
  right: 16px;
  z-index: 2;
}

.default-pagination-white {
  background: var(--#{vars.$bcgov-prefix}-layer-02);
  border-bottom: 1px solid var(--#{vars.$bcgov-prefix}-border-subtle-02);

  .#{vars.$bcgov-prefix}--select-input--inline__wrapper {
    border-left: 0;
  }

  .#{vars.$bcgov-prefix}--tooltip-trigger__wrapper {
    button {
      border-left: 0;
    }
  }

  .#{vars.$bcgov-prefix}--pagination__right {
    border-left: 0;
  }
}

.#{vars.$bcgov-prefix}--inline-notification {
  max-inline-size: unset;

  .#{vars.$bcgov-prefix}--inline-notification__title {
    @include type.type-style('heading-compact-01');
  }
}

.default-card-section-grid {
  row-gap: 1.5rem;
  column-gap: 2rem;
}

.default-tab-list {
  .#{vars.$bcgov-prefix}--tabs__nav-item-label-wrapper {
    @include type.type-style('heading-compact-01');
  }
}

.default-accordion-title-container {
  display: flex;
  flex-direction: column;
  row-gap: 0.25rem;

  .accordion-title-top {
    display: flex;
    flex-direction: row;
    column-gap: 0.5rem;
    align-items: center;

    h4 {
      @include type.type-style('heading-02');
    }
  }

  .accordion-title-bottom {
    display: flex;
    flex-direction: row;
    column-gap: 0.5rem;
    align-items: center;
    margin-left: 1.625rem;
    @include type.type-style('body-compact-02');
    color: var(--#{vars.$bcgov-prefix}-text-secondary);
  }
}

.default-tab-content-title {
  @include type.type-style('heading-03');
}

ul.default-tab-accordion {
  border: none;

  .#{vars.$bcgov-prefix}--accordion__heading {
    padding: 0.875rem 1.5rem 0.875rem 0.5rem;
  }

  .#{vars.$bcgov-prefix}--accordion__wrapper {
    padding-top: 1.375rem;
  }
}

.default-tab-accordion-item {
  border: 1px solid var(--#{vars.$bcgov-prefix}-border-subtle-02);
  background: var(--#{vars.$bcgov-prefix}-layer-02);
  border-radius: 0.5rem;

  .#{vars.$bcgov-prefix}--accordion__content {
    padding-inline: 2rem;
  }
}

.default-tab-search-bar {
  background: var(--#{vars.$bcgov-prefix}-layer-02);

  input {
    background: inherit;
    border-top: 1px solid var(--#{vars.$bcgov-prefix}-border-subtle-00);
    border-right: 1px solid var(--#{vars.$bcgov-prefix}-border-subtle-00);
    border-left: 1px solid var(--#{vars.$bcgov-prefix}-border-subtle-00);
    border-block-end: 1px solid var(--#{vars.$bcgov-prefix}-border-subtle-01);
  }

  .#{vars.$bcgov-prefix}--search-input:not(:placeholder-shown) {
    background: var(--#{vars.$bcgov-prefix}-layer-02);
  }
}

.default-table-container {
  padding-block-start: unset;
  border: 1px solid var(--#{vars.$bcgov-prefix}-border-subtle-00);
  border-radius: 0.25rem;
}
