@use '@bcgov-nr/nr-theme/design-tokens/variables.scss' as vars;

.spatial-checkbox-checked,
.spatial-checkbox-checked:not([disabled]) {

  svg,
  svg * {
    fill: var(--#{vars.$bcgov-prefix}-button-primary);
    stroke: var(--#{vars.$bcgov-prefix}-button-primary);
  }
}
