@use '@bcgov-nr/nr-theme/design-tokens/colors.scss' as colors;
@use '@bcgov-nr/nr-theme/design-tokens/variables.scss' as vars;
@use '@carbon/type';

.dashboard-grid {
  margin: 0;
  width: 100%;
  padding: 2.5rem;
  max-inline-size: none;
  row-gap: 2.5rem;
}

/* leaflet sizing */
.leaflet-container {
  height: 380px;
  width: 100%;
  padding: 0;
  margin: 0;
}

.favourite-activities {
  background-color: var(--#{vars.$bcgov-prefix}-background) !important;
  padding-top: 0px !important;
}

.tab-content {
  background-color: var(--#{vars.$bcgov-prefix}-layer-01);
}

.tab-header {
  @include type.type-style('heading-01');
  width: 251px;
  padding-left: 40px;
}

.tab-list {
  margin-left: 40px;
}

@media only screen and (max-width: 671px) {
  .favourite-activities {
    background-color: var(--#{vars.$bcgov-prefix}-layer-01);
    padding: 5px;
  }
}
