@use '@bcgov-nr/nr-theme/design-tokens/variables.scss' as vars;
@use '@bcgov-nr/nr-theme/design-tokens/colors.scss' as colors;
@use '@carbon/type';


.search-filters-container {
  margin: 0 1.5rem;
}

div.search-button-container {
  margin: 0 0.5rem;
}

.openings-searchbar-container {
  padding: 2.5rem !important;
  padding-bottom: 0px !important;

  //these are for the nested elements
  input {
    background-color: var(--#{vars.$bcgov-prefix}-layer-02);
    border-block-end: none;
    border-bottom: 1px solid var(--bx-border-strong-01);
  }

  input::placeholder {
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    letter-spacing: 0.16px;
    color: var(--bx-text-secondary);
  }

  .multi-dropdown {
    margin-top: -14px;
  }

  .#{vars.$bcgov-prefix}--list-box__field--wrapper {
    background-color: white;
  }

  .#{vars.$bcgov-prefix}--list-box__label {
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    letter-spacing: 0.16px;
    color: var(--bx-text-secondary);
  }

  .#{vars.$bcgov-prefix}--search-close {
    width: 40px;
    bottom: 0px;
    border-block-end: none;
  }

  .search-button {
    margin-top: 0px;
    min-width: 100%;
  }

  .advanced-search-field {
    background-color: var(--#{vars.$bcgov-prefix}-layer-02);
    height: 40px;
    align-items: center;
    justify-content: space-between;
    display: flex;
    cursor: pointer;
    border-bottom: 1px solid var(--bx-border-strong-01);
    color: var(--bx-text-secondary);
    border-radius: 4px 4px 0px 0px;
    padding: 16px 11px;

    p {
      @include type.type-style('body-compact-02');
      font-size: 14px;
    }

    .text-active {
      color: var(--#{vars.$bcgov-prefix}-text-primary) !important;
    }
  }

  #orgunit-multiselect {
    background-color: var(--#{vars.$bcgov-prefix}-layer-02);
  }

  #category-multiselect {
    background-color: var(--#{vars.$bcgov-prefix}-layer-02);
  }

}

.opening-searchbar-inner {
  padding-right: 1rem;
}

.multi-select div.#{vars.$bcgov-prefix}--multi-select,
input.#{vars.$bcgov-prefix}--search-input {
  background-color: var(--#{vars.$bcgov-prefix}-layer-02);
}

@media screen and (max-width: 20rem) {
  .bx--css-grid-column {
    .bx--btn {
      width: 100%;
    }

    .search-button {
      margin-top: 1rem;
    }
  }
}

@media screen and (max-width: 42rem) and (min-width: 21rem) {
  .bx--css-grid-column {
    .search-button {
      width: 100%;
      max-width: unset;
      margin-top: 1rem;
    }
  }
}

@media screen and (max-width: 66rem) and (min-width: 43rem) {
  .bx--css-grid-column {

    .search-button {
      margin-left: 0.75rem;
    }
  }
}

@media screen and (max-width: 82rem) and (min-width: 67rem) {
  .bx--css-grid-column {

    .search-button {
      margin-left: 0.75rem;
    }
  }
}

/*
Breakpoint	Value (px/rem)	Columns	Size (%)	Size	Padding	Margin
Small	      320 / 20	      4	      25%	      80 px	16 px	  0
Medium	    672 / 42	      8	      12.5%	    80 px	16 px	  16 px
Large	      1056 / 66	      16	    6.25%	    64 px	16 px	  16 px
X-Large	    1312 / 82	      16	    6.25%	    80 px	16 px	  16 px
Max	        1584 / 99	      16	    6.25%	    96 px	16 px	  24 px
*/
