@use '@carbon/type';

.chart-title {
  margin: 0;
  padding: 16px;
}

.chart-title h1 {
  @include type.type-style('heading-02');
  margin-bottom: 0.3rem;
}

.title-favourite {
  display: flex;
  align-items: center;
}

