@use '@bcgov-nr/nr-theme/design-tokens/colors.scss' as colors;

.indicator {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  padding: 0.5rem 0.75rem;
  border-radius: 0.25rem;
  font-size: 0.75rem;
  font-weight: 600;

  .label {
    text-transform: uppercase;
  }
}
