@use '@bcgov-nr/nr-theme/design-tokens/colors.scss' as colors;
@use '@bcgov-nr/nr-theme/design-tokens/variables.scss' as vars;

.indicator {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  padding: 0.5rem 0.75rem;
  border-radius: 0.25rem;
  font-size: 0.75rem;
  font-weight: 600;

  .label {
    text-transform: uppercase;
  }

  .value {
    padding: 0.25rem 0.5rem;
    border-radius: 0.125rem;
    text-transform: uppercase;
    font-weight: 700;

    &.postgres {
      background-color: colors.$green-60;
      color: colors.$white;

      &:hover {
        background-color: colors.$green-50;
      }
    }

    &.hybrid {
      background-color: colors.$blue-60;
      color: colors.$white;

      &:hover {
        background-color: colors.$blue-50;
      }
    }
  }
}
