@use '@bcgov-nr/nr-theme/design-tokens/variables.scss' as vars;
@use '@bcgov-nr/nr-theme/design-tokens/colors.scss' as colors;
@use '@carbon/type';

.silva-header {
  .header-link {
    margin-left: 0.9375rem;
    color: colors.$white;
  }

  a.header-link:link {
    text-decoration: none;
    color: colors.$white;
  }


  .#{vars.$bcgov-prefix}--__items {
    display: flex;
    flex-direction: column;
  }

  .support-section {
    margin-top: auto;
  }

  button.#{vars.$bcgov-prefix}--header__action {
    border-radius: 0;
  }

  button.#{vars.$bcgov-prefix}--header__action--active {
    background: var(--#{vars.$bcgov-prefix}-layer-02);
    border: 0;
  }

  // Hamburger icon
  .#{vars.$bcgov-prefix}--header__global .#{vars.$bcgov-prefix}--btn--icon-only.#{vars.$bcgov-prefix}--header__action svg,
  button.#{vars.$bcgov-prefix}--header__action svg {
    fill: var(--#{vars.$bcgov-prefix}-icon-on-color);
  }

  // Hamburger icon active
  .#{vars.$bcgov-prefix}--header__global .#{vars.$bcgov-prefix}--btn--icon-only.#{vars.$bcgov-prefix}--header__action--active svg,
  button.#{vars.$bcgov-prefix}--header__action--active svg {
    fill: var(--#{vars.$bcgov-prefix}-icon-primary);
  }

  .#{vars.$bcgov-prefix}--header-panel--expanded.notifications-panel,
  .#{vars.$bcgov-prefix}--header-panel--expanded.profile-panel {
    z-index: 10000;
    width: 25rem;
    height: 100vh;
    background-color: var(--#{vars.$bcgov-prefix}-layer-02);
    color: var(--#{vars.$bcgov-prefix}-text-primary);
    transition: width 0.11s cubic-bezier(0.2, 0, 1, 0.9);
    will-change: width;
  }

  .#{vars.$bcgov-prefix}--header-panel {
    overflow-y: scroll;
  }

  .profile-action-button {
    width: fit-content;
    max-width: none;
    color: colors.$white;
    padding: 0.75rem;
    margin: 0 0.5rem;
  }

  .#{vars.$bcgov-prefix}--header__action--active {
    background: var(--#{vars.$bcgov-prefix}-layer-02);
    border: 0;

    .client-name {
      color: var(--#{vars.$bcgov-prefix}-text-primary, colors.$gray-100);
    }
  }

  /* This rule is specific for the right panel only, it should fill the whole viewport
     when the screen hits the panel size or smaller */
  @media only screen and (max-width: 400px) {

    .#{vars.$bcgov-prefix}--header-panel--expanded.notifications-panel,
    .#{vars.$bcgov-prefix}--header-panel--expanded.profile-panel {
      width: 100vw;
    }
  }

  .side-nav-category-name {
    padding: 1rem;
    @include type.type-style('label-01');
  }

  .side-nav-item {
    cursor: pointer;

    .#{vars.$bcgov-prefix}--side-nav__icon>svg {
      fill: var(--#{vars.$bcgov-prefix}-link-primary);
    }
  }
}

.user-header-btn {
  display: flex;
  flex-direction: row;
  align-items: center;

  .avatar-and-org-name {
    display: flex;
    flex-direction: row;
    align-items: center;

    .client-name {
      max-width: 20vw;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      @include type.type-style('body-compact-01');
      // color: var(--#{vars.$bcgov-prefix}-text-primary);
      margin: 0 0.5rem;
    }
  }
}
