@use '@bcgov-nr/nr-theme/design-tokens/variables.scss' as vars;
@use '@carbon/type';

.comment-search-section {
  padding-top: 0;
}


.comment-search-card-container {
  padding: 1.25rem 1rem;
  transition: background-color 0.2s ease;

  &:hover {
    background-color: var(--#{vars.$bcgov-prefix}-layer-hover-01);
  }

  &--shaded {
    background-color: var(--#{vars.$bcgov-prefix}-layer-01);

    &:hover {
      background-color: var(--#{vars.$bcgov-prefix}-layer-hover-01);
    }
  }

  &--focused {
    outline: 0.125rem solid var(--#{vars.$bcgov-prefix}-border-interactive);
    outline-offset: -0.125rem;

    &:hover {
      background-color: var(--#{vars.$bcgov-prefix}-layer-selected-hover-01);
    }
  }

  .comment-search-title-row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-left: -0.25rem;
    cursor: pointer;
    border-radius: 0.25rem;
    transition: background-color 0.1s ease;

    &:hover {
      background-color: var(--#{vars.$bcgov-prefix}-layer-hover-02);
    }

    &:focus {
      outline: 2px solid var(--#{vars.$bcgov-prefix}-ui-04);
      outline-offset: 2px;
    }

    .bookmark-title-tag {
      display: flex;
      gap: 1.25rem;
      align-items: center;

      .bookmark-and-title {
        display: flex;
        gap: 0.5rem;
        align-items: center;

        .opening-id-title {
          @include type.type-style('body-02');
        }
      }
    }

    .comment-date {
      @include type.type-style('body-01');
    }
  }


  .comment-search-comment-row {
    @include type.type-style('body-01');
    color: var(--#{vars.$bcgov-prefix}-text-secondary);

    strong {
      font-weight: 700;
    }
  }
}
