@use '@bcgov-nr/nr-theme/design-tokens/variables.scss' as vars;
@use '@carbon/type';

.opening-search-input-grid {
  gap: 1.5rem;

  .bx--css-grid-column {
    align-content: end;
  }

  .opening-search-multi-select {
    input::placeholder {
      color: var(--#{vars.$bcgov-prefix}-text-primary);
    }
  }

  .date-label {
    @include type.type-style('label-02');
    margin-bottom: 0.5rem;
  }

  .date-sub-grid {
    gap: 1.5rem;
  }

  #start-date-picker-input-id,
  #end-date-picker-input-id {
    inline-size: 100%;
  }

  .#{vars.$bcgov-prefix}--date-picker {
    height: 100%;
    width: 100%;

    .#{vars.$bcgov-prefix}--date-picker-container {
      width: 100%;

      .#{vars.$bcgov-prefix}--date-picker-input__wrapper {
        width: 100%;

        span {
          width: 100%;
        }
      }
    }
  }
}
