@use '@bcgov-nr/nr-theme/design-tokens/variables.scss' as vars;

.create-opening-modal {
  .#{vars.$bcgov-prefix}--modal-container {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding-bottom: 1rem;


    .#{vars.$bcgov-prefix}--modal-content {
      padding-block: unset;
    }
  }

  .#{vars.$bcgov-prefix}--modal-header {
    overflow-y: unset;
  }

  .content-grid {
    padding: 0;
    row-gap: 2.5rem;
    column-gap: 1rem;

    .#{vars.$bcgov-prefix}--css-grid-column {
      margin-inline: 0;

      .modal-tile-button {
        inline-size: 100%;
      }
    }
  }

  .modal-button {
    max-width: unset;
    width: 100%;
  }
}
