@use '@bcgov-nr/nr-theme/design-tokens/variables.scss' as vars;

.opening-bookmark-btn-loading-container {
  padding: 0.25rem 0.75rem;

  .bookmark-button-inline-loading {
    inline-size: unset;
  }
}

.#{vars.$bcgov-prefix}--btn--icon-only.actionable-bookmark-button {
  .bookmark-filled-icon {
    fill: var(--#{vars.$bcgov-prefix}-link-primary);
  }
}
