@use '@carbon/type';
@use '@bcgov-nr/nr-theme/design-tokens/variables.scss' as vars;

.opening-summary-grid {
  border: 1px solid var(--#{vars.$bcgov-prefix}-border-subtle-02);
  border-radius: 0.5rem;
  row-gap: 2rem;

  .card-title-col {
    .card-title-container {
      width: 100%;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;

      h3 {
        @include type.type-style('heading-03');
      }
    }
  }

  .map-col {
    margin: 0 -2rem -2rem -2rem;
    border-radius: 0 0 0.5rem 0.5rem;
    overflow: hidden;
  }
}
