.opening-table-row {
  .action-container {
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  .table-cell-link-wrapper {
    display: block;
    text-decoration: none;
    color: inherit;
    margin: 0 -1rem; // to remove gaps between cells
    padding: 0 1rem;
  }
}
