@use '@carbon/type';
@use '@bcgov-nr/nr-theme/design-tokens/variables.scss' as vars;

.opening-overview-card-container {
  background-color: var(--#{vars.$bcgov-prefix}-layer-02);

  .comment-list {
    list-style-type: disc;
    padding-left: 1.75rem;
    margin-top: 0.25rem;
    display: flex;
    flex-direction: column;
    row-gap: 0.25rem;
  }

  .standard-unit-card-title-col {
    h5 {
      @include type.type-style('heading-01');
    }
  }
}
