@use '@bcgov-nr/nr-theme/design-tokens/colors.scss' as colors;
@use '@bcgov-nr/nr-theme/design-tokens/variables.scss' as vars;
.bx--date-picker.bx--date-picker--single .bx--date-picker__input {
    inline-size: 100%;
}
.cds--cc--chart-wrapper text {
    fill: var(--#{vars.$bcgov-prefix}-text-primary);
}

.cds--cc--chart-wrapper p {
    color: var(--#{vars.$bcgov-prefix}-text-secondary);
}

text.pie-label {
    font-weight: 700;
}
.mt10{
    margin-top: 10px !important;
}
.donut-chart-container{
    padding-top: 32px;
    padding-bottom: 16px;
}