@use '@bcgov-nr/nr-theme/design-tokens/variables.scss' as vars;
@use '@carbon/type';

.favourite-openings-container {
  grid-template-rows: auto 1fr;

  .favourite-content-col {
    .loading-container {
      width: 100%;
      display: flex;
      justify-content: center;
      margin-top: 18%;
    }
  }

  .twelve-col-grid {
    --cds-grid-columns: 12;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1rem;
    row-gap: 1rem;
    column-gap: 1.375rem;
  }

  /* Make it 3 columns on max */
  @media (min-width: 1584px) {
    .twelve-col-grid {
      grid-template-columns: repeat(3, 1fr);
    }
  }
}

.fav-open-tile-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  column-gap: 0.25rem;
  width: 100%;
  height: 2rem;

  .fav-open-label {
    @include type.type-style('heading-01');
    text-decoration: none;
    color: var(--#{vars.$bcgov-prefix}-text-primary);

    .fav-open-id {
      margin-left: 0.25rem;
      @include type.type-style('body-01');
      color: var(--#{vars.$bcgov-prefix}-text-secondary);
    }
  }
}

.hide-bookmarks-btn-container {
  display: flex;
  justify-content: flex-end;
}
