@use '@carbon/type';

.page-title-col {
  .page-title-container {
    display: flex;
    flex-direction: column;
    row-gap: 0.5rem;

    .title-container {
      display: flex;
      flex-direction: row;
      column-gap: 0.5rem;

      h1 {
        @include type.type-style('heading-05');
      }

      .experimental-tag {
        height: fit-content;
      }
    }
  }
}
