@use '@bcgov-nr/nr-theme/design-tokens/colors.scss' as colors;
@use '@bcgov-nr/nr-theme/design-tokens/variables.scss' as vars;
@use '@carbon/type';

.bar-chart-tooltip {
  padding: 0.25rem 0.5rem;

  .title-bold {
    @include type.type-style('heading-02');
    color: var(--#{vars.$bcgov-prefix}-text-primary);
  }

  .title-code {
    @include type.type-style('code-02');
    color: var(--#{vars.$bcgov-prefix}-text-primary);
    font-size: 1rem;
  }

  .helper-text {
    @include type.type-style('helper-text-02');
    color: var(--#{vars.$bcgov-prefix}-text-secondary);
    margin-top: 0.25rem;
  }

  .status-list {
    list-style: disc;
    list-style-position: inside;
    padding-left: 1rem;
    @include type.type-style('helper-text-02');
    color: var(--#{vars.$bcgov-prefix}-text-secondary);
    margin-top: 0.5rem;
  }
}
