# General application
server:
  error:
    include-message: always
  port: ${SERVER_PORT:8080}
  shutdown: graceful
  max-http-request-header-size: 16KB

spring:
  application:
    name: results-api
  servlet:
    multipart:
      max-file-size: 25MB
      max-request-size: 25MB
  mvc:
    problemdetails:
      enabled: true
  jpa:
    show-sql: false

  oracle:
    jdbcUrl: jdbc:oracle:thin:@tcps://${ca.bc.gov.nrs.oracle.host}:${DATABASE_PORT:1543}/${SERVICE_NAME:servicename}?javax.net.ssl.trustStore=${ca.bc.gov.nrs.oracle.keystore}&javax.net.ssl.trustStorePassword=${ca.bc.gov.nrs.oracle.secret}&javax.net.ssl.keyStore=${ca.bc.gov.nrs.oracle.keystore}&javax.net.ssl.keyStorePassword=${ca.bc.gov.nrs.oracle.secret}
    url: ${spring.datasource.oracle.jdbcUrl}
    username: ${DATABASE_USER}
    password: ${DATABASE_PASSWORD}
    hikari:
      driver-class-name: oracle.jdbc.OracleDriver
      jdbcUrl: ${spring.oracle.jdbcUrl}
      url: ${spring.oracle.jdbcUrl}
      username: ${spring.oracle.username}
      password: ${spring.oracle.password}
      connectionTimeout: 30000 # 30 seconds
      idleTimeout: 60000 # 1 minute
      maxLifetime: 180000 # 3 minutes
      keepaliveTime: 60000 # 1 minute
      poolName: SilvaOracleConnPool
      minimumIdle: 1
      maximumPoolSize: 5
      leakDetectionThreshold: 60000
      connection-test-query: SELECT 1 FROM DUAL
  datasource:
    jdbcUrl: jdbc:postgresql://${POSTGRES_HOST:localhost}:5432/${POSTGRES_DB:nr-silva}
    url: ${spring.datasource.jdbcUrl}
    username: ${POSTGRES_USER:nr-silva}
    password: ${POSTGRES_PASSWORD:default}
    hikari:
      driver-class-name: org.postgresql.Driver
      jdbcUrl: ${spring.datasource.jdbcUrl}
      username: ${spring.datasource.username}
      password: ${spring.datasource.password}
      connectionTimeout: 30000 # 30 seconds
      idleTimeout: 60000 # 1 minute
      maxLifetime: 180000 # 3 minutes
      keepaliveTime: 60000 # 1 minute
      poolName: SilvaPostgresConnPool
      minimumIdle: 1
      maximumPoolSize: 3
      leakDetectionThreshold: 60000
      connection-test-query: SELECT 1
  http:
    encoding:
      charset: UTF-8
      enabled: true
      force: true
  sleuth:
    propagation-keys:
      - X-TRACE-ID
      - X-USER
    baggage-keys:
      - X-TRACE-ID
      - X-USER
    log:
      slf4j:
        whitelisted-mdc-keys:
          - X-TRACE-ID
          - X-USER
  jackson:
    serialization:
      FAIL_ON_EMPTY_BEANS: false

  # FAM
  security:
    oauth2:
      resourceserver:
        jwt:
          issuer-uri: ${AWS_COGNITO_ISSUER_URI:aws-cognito-any-url.com}
          jwk-set-uri: ${AWS_COGNITO_ISSUER_URI:aws-cognito-any-url.com}/.well-known/jwks.json

  # Flyway
  flyway:
    enabled: true
    baseline-on-migrate: true

# Actuator and ops
management:
  enable-native-support: true
  endpoint:
    metrics:
      enabled: false
    health:
      show-details: always

# Certificate for the Database
ca:
  bc:
    gov:
      nrs:
        self-uri: ${SELF_URI:http://localhost:8080}
        org-units: ${OPENING_SEARCH_ORG_UNITS:DCK,DSQ,DVA,DKM,DSC,DFN,DSI,DCR,DMK,DQC,DKA,DCS,DOS,DSE,DCC,DMH,DQU,DNI,DND,DRM,DPG,DSS,DPC}
        forest-client-api:
          address: ${FORESTCLIENTAPI_ADDRESS:https://nr-forest-client-api-prod.api.gov.bc.ca/api}
          key: ${FORESTCLIENTAPI_KEY:placeholder-api-key}
        s3-endpoint: ${S3_ENDPOINT:https://nrs.objectstore.gov.bc.ca:443/}
        s3-bucket: ${S3_BUCKET:placeholder-bucket}
        s3-access-key: ${S3_ACCESS_KEY:placeholder-access-key}
        s3-secret-key: ${S3_SECRET_KEY:placeholder-secret-key}
        open-maps:
          address: ${OPENMAPS_URL:https://openmaps.gov.bc.ca/geo/ows}
        oracle:
          keystore: ${ORACLEDB_KEYSTORE:jssecacerts-path}
          secret: ${ORACLEDB_SECRET:changeit}
          host: ${DATABASE_HOST:localhost}
        limits:
          max-actions-results: ${MAX_ACTIONS_RESULTS:5}
        frontend:
          url: ${ALLOWED_ORIGINS:http://localhost:3000}
          cors:
            headers:
              - x-requested-with
              - X-REQUESTED-WITH
              - authorization
              - Authorization
              - Content-Type
              - content-type
              - credential
              - CREDENTIAL
              - X-XSRF-TOKEN
              - access-control-allow-origin
              - Access-Control-Allow-Origin
              - DNT
              - Keep-Alive,
              - User-Agent,
              - X-Requested-With,
              - If-Modified-Since,
              - Cache-Control,
              - Content-Range,
              - Range
              - Location
              - location
            methods:
              - OPTIONS
              - GET
              - POST
              - PUT
              - DELETE
            age: 5m

# Logging
logging:
  level:
    ca.bc.gov.restapi.results: ${LOGGING_LEVEL:INFO}
  pattern:
    correlation: "[${spring.application.name:},%X{${X-TRACE-ID:traceId}:-},%X{spanId:-},%X{X-USER:-}] "

# Profile Specific Properties
---
spring:
  config:
    activate:
      on-profile: container
  sleuth:
    propagation-keys:
      - X-TRACE-ID
      - X-USER
    baggage-keys:
      - X-TRACE-ID
      - X-USER
    log:
      slf4j:
        whitelisted-mdc-keys:
          - X-TRACE-ID
          - X-USER

logging:
  pattern:
    console: '{"time": "%d{${LOG_DATEFORMAT_PATTERN:yyyy-MM-dd HH:mm:ss.SSS}}", "level": "${LOG_LEVEL:%5p}", "app":"${spring.application.name:-}", "user":"%X{X-USER:-}", "traceId":"%X{${X-TRACE-ID:traceId}:-}", "spanId":"%X{spanId:-}", "pid": "${PID: }", "thread": "%t", "source": "%logger{63}:%L", "message": "%m", "exception":"${LOG_EXCEPTION_CONVERSION_WORD:%wEx}"}%n'
