@use '@carbon/type';
@use '@bcgov-nr/nr-theme/design-tokens/variables.scss' as vars;

.map-popup-container {
  display: flex;
  flex-direction: column;

  .map-popup-header-container {
    h4 {
      @include type.type-style('heading-02');
    }
  }

  .map-popup-details-container {
    display: flex;
    flex-direction: column;
    margin: 0.5rem 0;
    gap: 0.5rem;
  }

  .map-popup-links-container {
    margin-top: 0.75rem;
    display: flex;
    flex-direction: column;
    gap: 0.2rem
  }
}
