@use '@carbon/type';

.opening-forest-cover-details-grid {
  row-gap: 2.5rem;

  .details-title {
    @include type.type-style('heading-03');
  }

  .forest-cover-details-subgrid {
    column-gap: 2rem;
    row-gap: 2.25rem;
  }
}
