@use '@bcgov-nr/nr-theme/design-tokens/variables.scss' as vars;
@use '@carbon/type';

.#{vars.$bcgov-prefix}--tile.fav-card {
  padding: 1rem;
  height: 4rem;
  border: 1px solid var(--#{vars.$bcgov-prefix}-border-subtle-02);
  background-color: var(--#{vars.$bcgov-prefix}-layer-02);

  .fav-card-content {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.75rem;
  }

  .fav-card-icon {
    width: 2rem;
    height: 2rem;
    fill: var(--#{vars.$bcgov-prefix}-interactive);
  }

  .fav-card-title {
    @include type.type-style('heading-02');
  }
}

.#{vars.$bcgov-prefix}--tile.fav-card:hover {
  background-color: var(--#{vars.$bcgov-prefix}-layer-hover-02);
}
