@use '@bcgov-nr/nr-theme/design-tokens/colors.scss' as colors;
@use '@bcgov-nr/nr-theme/design-tokens/variables.scss' as vars;

.chart-container{
    border: 1px solid #DFDFE1;
    border-radius: 4px;
}
.chart-container .content{
    padding: 1.25rem;
}