@use '@bcgov-nr/nr-theme/design-tokens/colors.scss' as colors;
@use '@bcgov-nr/nr-theme/design-tokens/variables.scss' as vars;

.chart-container{
    border: 1px solid;
    border-color: var(--#{vars.$bcgov-prefix}-border-subtle-02);
    border-radius: 4px;
    height: 100%;
    background-color: var(--#{vars.$bcgov-prefix}-layer-02);
}
.chart-container .content{
    padding: 0rem;
}

.bx--list-box__label {
    color: var(--#{vars.$bcgov-prefix}-text-secondary);
}