.favorite-button {
    &.favorite {
      .bx--btn--ghost {
        border-color: transparent !important;
      }
    }
  
    .bx--tooltip__trigger {
      overflow: visible !important;
    }

    .bx--tooltip,
    .bx--tooltip-container {
      z-index: 9999 !important;
    }

  }
  