@use '@bcgov-nr/nr-theme/design-tokens/colors.scss' as colors;
@use '@bcgov-nr/nr-theme/design-tokens/variables.scss' as vars;

.favourite-activities {
  background-color: var(--#{vars.$bcgov-prefix}-layer-01);
  padding: 2rem;
}

.tab-padding {
  padding: 40px;
  padding-top: 32px;
}

.pb-32 {
  padding-bottom: 32px;
}

.p-32 {
  padding: 32px;
}

@media only screen and (max-width: 671px) {
  .favourite-activities {
    background-color: var(--#{vars.$bcgov-prefix}-layer-01);
    padding: 5px;
  }
}
