@use '@bcgov-nr/nr-theme/design-tokens/colors.scss' as colors;
@use '@bcgov-nr/nr-theme/design-tokens/variables.scss' as vars;
@use '@carbon/type';

.edit-column-content--dropdown-label {
  padding:16px;
  p {
    @include type.type-style('label-02');
    font-size: 12px;
  }
}
.edit-column-content--dropdown-container{
  padding: 16px;
  padding-top: 0px;
}
.edit-column-content--menu-item{
  font-size: 12px;
  font-weight: 400;
  line-height: 16px;
  letter-spacing: 0.32px;
  font-family: 'BC Sans';
  color: var(--#{vars.$bcgov-prefix}-text-primary);
}
.edit-column-content--menu-item-container{
  background-color: var(--#{vars.$bcgov-prefix}-layer-01);
  padding: 16px;
}
.edit-column-content--menu-item-container:hover{
  background-color: var(--#{vars.$bcgov-prefix}-layer-accent-02);
  cursor: pointer;
}
.edit-column-content--checkbox-item .bx--checkbox-label-text{
  font-size: 14px;
  line-height: 18px;
  letter-spacing: 0.16px;
  font-weight: 400;
}
.edit-column-content--bx--checkbox-label {
  min-width: 300px;
}