name: .Deploys

on:
  workflow_call:
    inputs:
      ### Required
      # Nothing! Only `secrets: inherit` is required

      ### Typical / recommended
      allowed_origins:
        description: Allowed origins for CORS
        required: false
        type: string
      environment:
        description: GitHub/OpenShift environment; usually PR number, test or prod
        default: ""
        required: false
        type: string
      tag:
        description: Container tag; usually PR number
        default: ${{ github.event.number }}
        required: false
        type: string
      target:
        description: Deployment target; usually PR number, test or prod
        default: ${{ github.event.number }}
        required: false
        type: string
      triggers:
        description: Triggers for deployment
        default: ""
        type: string

      ### Per-environment config
      backend_cpu_request:
        description: CPU request for backend
        default: "50m"
        type: string
      backend_min_replicas:
        description: Minimum replicas for backend
        default: "3"
        type: string
      backend_max_replicas:
        description: Maximum replicas for backend
        default: "5"
        type: string
      backend_flyway_environment:
        description: Flyway environment for backend database migrations
        default: "prod"
        type: string
      backend_primary_db:
        description: Primary database for backend
        default: "oracle"
        type: string

      # FAM route: only used for PR deploys, not needed for test/prod since those use static routes
      fam_route:
        description: FAM route for frontend; only needed for PR deployments
        required: false
        type: string

    outputs:
      run_tests:
        description: Run Cypress tests if the core apps have changed (excludes sync)
        value: ${{ jobs.init.outputs.run_tests }}

permissions: {}

jobs:
  init:
    name: Deploy (init)
    environment: ${{ inputs.environment }}
    outputs:
      allowed_origins: ${{ steps.allowed_origins.outputs.allowed_origins }}
      route: ${{ steps.route.outputs.route }}
      run_tests: ${{ steps.deploy.outputs.triggered }}
    runs-on: ubuntu-24.04
    steps:
      - name: FAM routing
        id: route
        run: |
          if [ "${{ github.event_name }}" = "pull_request" ]; then
            if [ -n "${{ inputs.fam_route }}" ]; then
              echo "route=${{ inputs.fam_route }}" >> $GITHUB_OUTPUT
            else
              echo "route=$(( ${{ inputs.target }} % 50 ))" >> $GITHUB_OUTPUT
            fi
          else
            echo "route=${{ inputs.target }}" >> $GITHUB_OUTPUT
          fi

      - name: ALLOWED_ORIGINS
        id: allowed_origins
        run: |
          # If not set, use default routes
          if [ -n "${{ inputs.allowed_origins }}" ]; then
            echo "allowed_origins=${{ inputs.allowed_origins }}" >> $GITHUB_OUTPUT
          elif [ -n "${{ inputs.fam_route }}" ]; then
            echo "allowed_origins=https://${{ github.event.repository.name }}-${{ inputs.fam_route }}-frontend.apps.silver.devops.gov.bc.ca" >> $GITHUB_OUTPUT
          else
            echo "allowed_origins=https://${{ github.event.repository.name }}-$(( ${{ inputs.target }} % 50 ))-frontend.apps.silver.devops.gov.bc.ca" >> $GITHUB_OUTPUT
          fi

      - name: OpenShift Init
        id: deploy
        uses: bcgov/action-deployer-openshift@565e315dfddb8aee08fcfd885a27407dde9a2775 # v4.0.1
        with:
          oc_namespace: ${{ vars.OC_NAMESPACE }}
          oc_server: ${{ vars.OC_SERVER }}
          oc_token: ${{ secrets.OC_TOKEN }}
          file: common/openshift.init.yml
          overwrite: true
          parameters: -p ZONE=${{ inputs.target }}
            -p ORACLE_DB_USER=${{ secrets.DB_USER }}
            -p ORACLE_DB_PASSWORD='${{ secrets.ORACLE_DB_PASSWORD }}'
            -p ORACLE_DB_HOST='${{ secrets.ORACLE_DB_HOST }}'
            -p ORACLE_DB_SERVICE='${{ secrets.ORACLE_DB_SERVICE }}'
            -p POSTGRES_DB_PASSWORD='${{ secrets.POSTGRES_DB_PASSWORD }}'
            -p FORESTCLIENTAPI_KEY='${{ secrets.FORESTCLIENTAPI_KEY }}'
            -p S3_BUCKET='${{ secrets.S3_BUCKET }}'
            -p S3_ACCESS_KEY='${{ secrets.S3_ACCESS_KEY }}'
            -p S3_SECRET_KEY='${{ secrets.S3_SECRET_KEY }}'
            -p VITE_USER_POOLS_WEB_CLIENT_ID=${{ vars.VITE_USER_POOLS_WEB_CLIENT_ID }}
            -p VITE_USER_POOLS_ID=${{ vars.VITE_USER_POOLS_ID }}
          triggers: ${{ inputs.triggers }}

  deploy:
    name: Deploy
    environment: ${{ inputs.environment }}
    needs: [init]
    runs-on: ubuntu-24.04
    timeout-minutes: 15
    strategy:
      matrix:
        name: [database, backend, frontend]
        include:
          - name: database
            file: common/openshift.database.yml
            parameters: -p DB_PVC_SIZE=128Mi
              -p COMPONENT=${{ github.event_name == 'pull_request' && format('database-{0}', inputs.backend_primary_db) || 'database' }}
            overwrite: false
          - name: backend
            file: backend/openshift.deploy.yml
            overwrite: true
            parameters: -p DB_POOL_MAX_SIZE=1
              -p AWS_COGNITO_ISSUER_URI=https://cognito-idp.${{ vars.AWS_REGION }}.amazonaws.com/${{ vars.VITE_USER_POOLS_ID }}
              -p DASHBOARD_JOB_IDIR_USERS=${{ vars.DASHBOARD_JOB_IDIR_USERS }}
              -p WMS_LAYERS_WHITELIST_USERS=${{ vars.WMS_LAYERS_WHITELIST_USERS }}
              -p ALLOWED_ORIGINS=${{ needs.init.outputs.allowed_origins }}
              -p CPU_REQUEST=${{ inputs.backend_cpu_request }}
              -p MIN_REPLICAS=${{ inputs.backend_min_replicas }}
              -p MAX_REPLICAS=${{ inputs.backend_max_replicas }}
              -p FLYWAY_ENVIRONMENT=${{ inputs.backend_flyway_environment }}
              -p PRIMARY_DB=${{ inputs.backend_primary_db }}
              -p COMPONENT=${{ github.event_name == 'pull_request' && format('backend-{0}', inputs.backend_primary_db) || 'backend' }}
            verification_path: /actuator/health
          - name: frontend
            file: frontend/openshift.deploy.yml
            overwrite: true
            parameters: -p MIN_REPLICAS=1
              -p MAX_REPLICAS=1
              -p FAM_ROUTE=${{ needs.init.outputs.route }}
              -p COMPONENT=${{ github.event_name == 'pull_request' && format('frontend-{0}', inputs.backend_primary_db) || 'frontend' }}
    steps:
      - uses: bcgov/action-deployer-openshift@565e315dfddb8aee08fcfd885a27407dde9a2775 # v4.0.1
        id: deploys
        with:
          file: ${{ matrix.file }}
          oc_namespace: ${{ vars.OC_NAMESPACE }}
          oc_server: ${{ vars.OC_SERVER }}
          oc_token: ${{ secrets.OC_TOKEN }}
          overwrite: ${{ matrix.overwrite }}
          parameters: -p ZONE=${{ inputs.target }} -p TAG=${{ inputs.tag }} ${{ matrix.parameters }}
          timeout: 15m
          triggers: ${{ inputs.triggers }}
