name: Analysis

on:
  pull_request:
    types: [opened, reopened, synchronize, ready_for_review, converted_to_draft]
  push:
    branches: [main]
  workflow_dispatch:

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

permissions: {}

jobs:
  tests-backend:
    name: Tests (Backend - ${{ matrix.name}})
    if: github.event_name != 'pull_request' || !github.event.pull_request.draft
    runs-on: ubuntu-24.04
    strategy:
      matrix:
        include:
          - db: oracle
            name: "Oracle"
          - db: postgres
            name: "Postgres"
    env:
      FLYWAY_ENVIRONMENT: ${{ github.event_name == 'pull_request' && 'dev' || 'prod' }}
    steps:
      - uses: bcgov/action-test-and-analyse-java@7c7309721cae054b3e837c723afa4efb4b1a256d # v1.1.0
        with:
          commands: |
            mkdir -p ~/.m2
            if [ -f settings.xml ]; then
              cp settings.xml ~/.m2/settings.xml
            fi
            ./mvnw -s ~/.m2/settings.xml clean install -Dflyway-environment=${{ env.FLYWAY_ENVIRONMENT }} -Dprimary-db=${{ matrix.db }} --no-transfer-progress checkstyle:checkstyle -P all-tests
          dir: backend
          java-cache: maven
          java-distribution: temurin
          java-version: 21
          sonar_args: >
            -Dsonar.exclusions=,**/configuration/**,**/dto/**,**/entity/**,**/exception/**,**/enums/**,**/repository/**,**/job/**,**/*$*Builder*,**/ResultsApplication.*,**/*Constants.*,**/security/**
            -Dsonar.coverage.jacoco.xmlReportPaths=target/site/jacoco-all-tests/jacoco.xml
            -Dsonar.organization=bcgov-sonarcloud
            -Dsonar.project.monorepo.enabled=true
            -Dsonar.projectKey=nr-silva-backend
          sonar_token: ${{ github.event_name == 'pull_request' && matrix.db == 'postgres' && secrets.SONAR_TOKEN_BACKEND || '' }}
          # Only use triggers for PRs
          triggers: ${{ github.event_name == 'pull_request' && '("backend/")' || '' }}

  lint-frontend:
    name: Lint (Frontend)
    if: github.event_name != 'pull_request' || !github.event.pull_request.draft
    runs-on: ubuntu-24.04
    steps:
      - uses: bcgov/action-test-and-analyse@87f88c90526b8b05cea760492ff33db4ba6e271b # v1.6.0
        with:
          commands: |
            npm ci
            npm run lint || true
          dir: frontend
          node_version: "20"
          # Only use triggers for PRs
          triggers: ${{ github.event_name == 'pull_request' && '("frontend/")' || '' }}

  tests-frontend:
    name: Tests (Frontend)
    if: github.event_name != 'pull_request' || !github.event.pull_request.draft
    runs-on: ubuntu-24.04
    steps:
      - uses: bcgov/action-test-and-analyse@87f88c90526b8b05cea760492ff33db4ba6e271b # v1.6.0
        env:
          VITE_ZONE: test
          VITE_USER_POOLS_ID: ${{ vars.VITE_USER_POOLS_ID }}
          VITE_USER_POOLS_WEB_CLIENT_ID: ${{ vars.VITE_USER_POOLS_WEB_CLIENT_ID }}
          VITE_BACKEND_URL: http://localhost:8080
          TEST_BCEID_USERNAME: ${{ secrets.TEST_BCEID_USERNAME }}
          TEST_BCEID_PASSWORD: ${{ secrets.TEST_BCEID_PASSWORD }}
        with:
          commands: |
            npm ci
            npx playwright install chromium
            npm run coverage
          dir: frontend
          node_version: "20"
          sonar_args: >
            -Dsonar.organization=bcgov-sonarcloud
            -Dsonar.projectKey=nr-silva-frontend
            -Dsonar.javascript.lcov.reportPaths=.nyc_output/coverage/lcov.info
            -Dsonar.typescript.tsconfigPaths=tsconfig.json
            -Dsonar.sources=src/
            -Dsonar.exclusions=src/__test__/**,src/__e2e__/**,src/amplifyconfiguration.*,src/**/*.scss,src/**/*.css,src/**/*.d.*,src/setupTests.*
            -Dsonar.tests=src/__test__/,src/__e2e__/
            -Dsonar.project.monorepo.enabled=true
          sonar_token: ${{ secrets.SONAR_TOKEN_FRONTEND }}
          # Only use triggers for PRs
          triggers: ${{ github.event_name == 'pull_request' && '("frontend/")' || '' }}

  # https://github.com/marketplace/actions/aqua-security-trivy
  trivy:
    name: Trivy Security Scan
    if: github.event_name != 'pull_request' || !github.event.pull_request.draft
    permissions:
      security-events: write
    runs-on: ubuntu-24.04
    steps:
      - uses: actions/checkout@v6

      - name: Run Trivy vulnerability scanner in repo mode
        uses: aquasecurity/trivy-action@b6643a29fecd7f34b3597bc6acb0a98b03d33ff8 # 0.33.1
        with:
          format: "sarif"
          output: "trivy-results.sarif"
          trivyignores: ".trivyignore"
          skip-dirs: "common/postgis-playground"
          ignore-unfixed: true
          scan-type: "fs"
          scanners: "vuln,secret,misconfig"
          severity: "CRITICAL,HIGH"

      - name: Upload Trivy scan results to GitHub Security tab
        uses: github/codeql-action/upload-sarif@v3
        with:
          sarif_file: "trivy-results.sarif"

  results:
    name: Analysis Results
    if: always()
    # Include all needs that could have failures!
    needs: [lint-frontend, tests-backend, tests-frontend] # Include trivy when/if it gets back to being reliable
    runs-on: ubuntu-24.04
    steps:
      - run: |
          # View results
          echo "needs.*.result: ${{ toJson(needs.*.result) }}"

      - if: contains(needs.*.result, 'failure')||contains(needs.*.result, 'canceled')
        run: |
          # Job failure found
          echo "At least one job has failed"
          exit 1
