name: E2E tests

on:
  workflow_call:
    inputs:
      target:
        description: Deployment target; usually PR number, test or prod
        default: ${{ github.event.number }}
        required: false
        type: string

permissions:
  checks: write # This workflow requires checks permission which must be granted by the caller

jobs:
  fam-routing:
    runs-on: ubuntu-24.04
    name: Generate FAM routing
    outputs:
      route: ${{ steps.route.outputs.route }}
    steps:
      - name: FAM routing
        id: route
        run: |
          if [ ${{ github.event_name }} == 'pull_request' ]; then
            echo "route=$(( ${{ inputs.target }} % 50 ))" >> $GITHUB_OUTPUT
          else
            echo "route=${{ inputs.target }}" >> $GITHUB_OUTPUT
          fi

  tests-frontend-e2e-built:
    name: E2E Tests on Build - All Browsers
    if: inputs.target != 'prod' && inputs.target != 'PROD'
    needs: [fam-routing]
    runs-on: ubuntu-latest
    timeout-minutes: 10
    container:
      image: mcr.microsoft.com/playwright:v1.56.1-noble
    env:
      HOME: /root
      BASE_URL: https://${{ github.event.repository.name }}-${{ needs.fam-routing.outputs.route }}-frontend.apps.silver.devops.gov.bc.ca
      TEST_BCEID_USERNAME: ${{ secrets.TEST_BCEID_USERNAME }}
      TEST_BCEID_PASSWORD: ${{ secrets.TEST_BCEID_PASSWORD }}
      CI: true
    steps:
      - uses: actions/checkout@v6

      - name: Setup Node.js
        uses: actions/setup-node@v6
        with:
          node-version: "24"

      - name: Install Dependencies
        run: |
          npm ci
          npx playwright install chromium
        working-directory: frontend

      - name: Run E2E Tests
        run: npm run test:ui
        working-directory: frontend

      - name: Publish Results
        uses: mikepenz/action-junit-report@e08919a3b1fb83a78393dfb775a9c37f17d8eea6 # v6
        continue-on-error: true
        if: always()
        with:
          report_paths: frontend/test-results/results.xml
          commit: ${{ github.event.pull_request.head.sha }}
          summary: Playwright Test Results
          detailed_summary: true
          job_name: User Journeys

      - name: Upload test results
        uses: actions/upload-artifact@v5
        if: always()
        with:
          name: E2E on built apps test results
          path: frontend/test-results/
