name: PR Closed

on:
  pull_request:
    types: [closed]

concurrency:
  # PR open and close use the same group, allowing only one at a time
  group: pr-${{ github.workflow }}-${{ github.event.number }}
  cancel-in-progress: true

permissions: {}

jobs:
  cleanup:
    name: Cleanup and Images - ${{ matrix.name}}
    uses: bcgov/quickstart-openshift-helpers/.github/workflows/.pr-close.yml@6d695dd755fa9255ea4bde335890516beb6f95e4 # v1.0.1
    strategy:
      matrix:
        model: [hybrid, postgres]
        include:
          - model: hybrid
            name: "Hybrid (Oracle Primary)"
          - model: postgres
            name: "Postgres"
    permissions:
      packages: write
    secrets:
      oc_namespace: ${{ vars.OC_NAMESPACE }}
      oc_token: ${{ secrets.OC_TOKEN }}
    with:
      cleanup: label
      packages: backend frontend
      target: ${{ github.event.number }}-${{ matrix.model }}
