name: PR

on:
  pull_request:

concurrency:
  # PR open and close use the same group, allowing only one at a time
  group: pr-${{ github.workflow }}-${{ github.event.number }}
  cancel-in-progress: true

permissions: {}

jobs:
  builds:
    name: Builds
    runs-on: ubuntu-24.04
    permissions:
      attestations: write
      id-token: write
      packages: write
    strategy:
      matrix:
        name: [backend, frontend]
        include:
          - name: backend
            triggers: ('backend/')
          - name: frontend
            triggers: ('frontend/')
    steps:
      - uses: actions/checkout@v6
      - uses: bcgov/action-builder-ghcr@2b24ac7f95e6a019064151498660437cca3202c5 # v4.2.1
        with:
          package: ${{ matrix.name }}
          tag_fallback: latest
          token: ${{ secrets.GITHUB_TOKEN }}
          triggers: ${{ matrix.triggers }}

  deploys:
    name: Deploys (${{ github.event.number }})
    needs: [builds]
    secrets: inherit
    uses: ./.github/workflows/.deploy.yml
    with:
      backend_cpu_request: "30m"
      backend_min_replicas: "1"
      backend_max_replicas: "1"
      backend_flyway_environment: "dev"
      backend_primary_db: "postgres"
      triggers: ('backend/' 'common/' 'frontend/')

  results:
    name: PR Results
    if: always()
    # Include all needs that could have failures!
    needs: [builds, deploys]
    runs-on: ubuntu-24.04
    steps:
      - run: |
          # View results
          echo "needs.*.result: ${{ toJson(needs.*.result) }}"

      - if: contains(needs.*.result, 'failure')||contains(needs.*.result, 'canceled')
        run: |
          # Job failure found
          echo "At least one job has failed"
          exit 1
