name: PR

on:
  pull_request:

concurrency:
  # PR open and close use the same group, allowing only one at a time
  group: pr-${{ github.workflow }}-${{ github.event.number }}
  cancel-in-progress: true

jobs:
  builds:
    name: Builds
    runs-on: ubuntu-latest
    permissions:
      packages: write
    strategy:
      matrix:
        name: [backend, frontend]
        include:
          - name: backend
            triggers: ('backend/')
          - name: frontend
            triggers: ('frontend/')
    steps:
      - uses: actions/checkout@v4
      - uses: bcgov-nr/action-builder-ghcr@v2.3.0
        with:
          package: ${{ matrix.name }}
          tag: ${{ github.event.number }}
          tag_fallback: latest
          token: ${{ secrets.GITHUB_TOKEN }}
          triggers: ${{ matrix.triggers }}

  deploys:
    name: Deploys (${{ github.event.number }})
    needs: [builds]
    secrets: inherit
    uses: ./.github/workflows/.deploy.yml

  results:
    name: PR Results
    if: always()
    # Include all needs that could have failures!
    needs: [builds, deploys]
    runs-on: ubuntu-latest
    steps:
      - run: |
          # View results
          echo "needs.*.result: ${{ toJson(needs.*.result) }}"

      - if: contains(needs.*.result, 'failure')
        run: |
          # Job failure found
          echo "At least one job has failed"
          exit 1
