@use '@carbon/type';
@use '@bcgov-nr/nr-theme/design-tokens/variables.scss' as vars;

.leaflet-control-fullscreen-button,
.leaflet-control-zoom-in,
.leaflet-control-zoom-out {
  color: var(--#{vars.$bcgov-prefix}-button-primary) !important;
}

.leaflet-control-fullscreen:hover,
.leaflet-bar a:hover,
.leaflet-control-zoom-in:hover,
.leaflet-control-zoom-out:hover {
  color: var(--#{vars.$bcgov-prefix}-button-tertiary) !important;
  background-color: var(--#{vars.$bcgov-prefix}-button-primary) !important;
}

.leaflet-control-fullscreen,
.leaflet-control-layers,
.leaflet-control-zoom {
  border: 2px solid var(--#{vars.$bcgov-prefix}-button-primary) !important;
}

.leaflet-control-fullscreen-button a {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  width: 30px;
  height: 30px;
}

.leaflet-control-fullscreen-button span {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.leaflet-control-fullscreen-button:hover {
  svg {
    fill: var(--#{vars.$bcgov-prefix}-button-tertiary) !important;
  }
}

.leaflet-control-layers-toggle {
  mask: url('/map-layers.svg') no-repeat center;
  -webkit-mask: url('/map-layers.svg') no-repeat center;
  background-color: var(--#{vars.$bcgov-prefix}-button-primary) !important;
  width: 30px;
  height: 30px;
  background-size: 30px 30px;
  mask-size: 30px 30px;
  -webkit-mask-size: 30px 30px;
  background-image: none !important;
}

.leaflet-control-zoom {
  transform: rotate(90deg);
  right: 1rem;
}

.leaflet-control-zoom-out {
  transform: rotate(-90deg);
}

.opening-map-container {
  position: relative;
}

.map-popup-top-left {
  position: absolute;
  top: 1rem;
  left: 1rem;
  z-index: 1000;
  background: white;
  border-radius: 0.5rem;
  box-shadow: 0 0.25rem 0.25rem rgba(0, 0, 0, 0.15);
  padding: 1.5rem;
  min-width: 200px;
  max-width: 350px;
}
