@use '@bcgov-nr/nr-theme/design-tokens/colors.scss' as colors;
@use '@bcgov-nr/nr-theme/design-tokens/variables.scss' as vars;
@use '@carbon/type';

  .search-tablist{
    .tab-content {
      height: 100vh;
      background-color: var(--#{vars.$bcgov-prefix}-layer-01);
    }
    .tab-header{
      @include type.type-style('heading-compact-01');
      font-weight: 700;
      font-size: 14px;
      line-height: 18px;
      letter-spacing: 0.16px;
      width: 160px;
      padding:15px 16px;
    }
    .#{vars.$bcgov-prefix}--tabs__nav-item{
      min-width: 251px;
    }
    .tab-list{
      margin-left: 40px;
    }
  }

  @media only screen and (max-width: 671px) {
    .favourite-activities {
      background-color: var(--#{vars.$bcgov-prefix}-layer-01);
      padding: 5px;
    }
  }
  .tab-content {
    height: 100vh;
  }